
/* common shared style */
*body{
    font-family: 'Lato', sans-serif;
}




.banner{
    display: flex;
    align-items: center;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.profile-picture{
    width: 635px;
}
.banner-title{
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 0px;
    

}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    color: #272727;
    margin-top: 32px;
    margin-bottom: 32px;
}
.banner-content{
    max-width: 700px;
    padding: 200 0px 0px 240px;
    
}
.btn-primary{
display: flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;


}
/* header reladed styles */
.header{ 
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    margin: 0px 0px;
}

/* main section styles */
.featured-flowers{
    width: 1920px;
    text-align: center;
    margin-top: 120px;
}
.section-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}

.banner-title{
color: #272727;
   font-size: 80px;
   font-weight: 800;
}


.section-description{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
 }   


/*featured flower related styles */
#featured-section{
    padding: 24px 200px 40px 200px;
}
.featured-flower-collection{
    display: flex;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    position: absolute;
}
#first-photo{
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
width: 300px;
padding: 110px 70px 0px 70px;
flex-shrink: 0;
/* gap: 10px; */
}
#second-photo{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
height: 524px;
flex-shrink: 0;
margin: 10px;

}
#third-photo{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
width: 464px;
height: 525px;
flex-shrink: 0;
}
.collection-title{
    text-decoration: underline;
}
.hot-deal{margin-top: 700px;
display: flex;
align-items: center;
margin-left: 0px;
margin-right: 0px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
background-size: cover;
width: 100%;
gap: 70px;
flex-shrink: 0;
padding-left: 330px;


}
.hot-deal-title{
color: #272727;
font-size: 40px;
font-weight: 800;
margin-bottom: 30px;


}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
max-width: 600px;
font-size: 18px;
margin-bottom: 30px;

font-weight: 400;
line-height: 20px;
}
#btn-deal{
    text-align: center;
    
}
.instagram-description{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 594px;
margin-left: 620px;
    
}
.instagram-container{
    display: flex;
    margin-left: 240px;
    gap: 10px;
}
.insta-first{
   
}
.insta-second{
    
}
.insta-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top:100px ;
margin-bottom: 10px;

}
.colorful-text{
    color: #E55473;
}
.latest-deal{
    /* text-align: center; */
    /* align-items: center; */
    background-image: url('../images/Rectangle\ 9.png');
    width: 1440px;
height: 449px;
flex-shrink: 0;
margin-left: 220px;
align-items: center;
}
.latest{
    text-align: center;
    align-items: center;
    margin-top: 80px;
}
.form-button{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 500px;
    gap: 115px;
}
.btn-form{
    width: 100px;
height: 40px;
flex-shrink: 0;
border-radius: 8px;
background: #E55473;
}
#mail-form{
    width: 100px;
height: 25px;
size: 100px;
}
.latest-deal-title{
    color: #272727;
text-align: center;

font-size: 30px;

font-weight: 800;
padding-top: 200px;
}
